/*
CSS for xaringan slides in RU flavor
Author: Joseph V. Casillas
Updated: 03/06/2018

Modified by Florian Oswald for ScPo
18/08/2019
*/

/* Package defaults that we slightly tweak */

.remark-slide-content { font-size: 23px; }

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin-top: 0em;
    margin-right: 0px;
    margin-bottom: 0.3em;
    margin-left: 0px;
}

a, a > code {
  color: #d90502;
  text-decoration: none;

}


/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 85%;
}

/* important code slightly red 
.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}
*/

/* color tweak */
.inverse {
  background-color: #ffebf0;
  color: #353632;
  text-shadow: none;
}

/* slightly spacing change */
.inverse h1, .inverse h2, .inverse h3 {
  color: #0729a6;
  line-height: 1.0em;
}

.inverse remark-code-line {
  background-color: #e0e1df;
}

/* Two-column layout (slightly wider for aspect ration) */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

/* slightly thiner to suppor aspect ration */
.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

/* Two-column layout (wide left col) */
.left-wide {
  width: 70%;
  float: left;
}

.right-thin {
  width: 25%;
  float: right;
}

/* Two-column layout (wide left col) */
.right-wide {
  width: 70%;
  float: right;
}

.left-thin {
  width: 25%;
  float: left;
}

.right-60 {
  width: 58%;
  float: right;
}

.left-40 {
  width: 40%;
  float: left;
}

.pull-left {
  float: left;
  width: 48%;
}

.pull-right {
  float: right;
  width: 48%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* removed RU table adjustments*/


/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*~~~~~~~~~~~~~~*/
/* RU additions */
/*~~~~~~~~~~~~~~*/

/* Title slide */

/* Add image and change bg color */

/* changing background image to ScPo*/
.title-slide {
  background-image: url("../img/logo/ScPo-econ.png");
  background-position: 9% 30%;
  background-size: 300px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* H1 fonts */
.title-slide h1 {
  color: #515151;
  padding-top: 250px;
  font-weight: normal;
  font-size: 45px;
  line-height: 0.05;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  color: #d90502;
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
}


/*add logo in footer*/
.my-footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 60px;
    width: 100%;
}

/*~~~~~~~~~~~~~~~~~~*/
/* SECTION DIVIDERS */
/*~~~~~~~~~~~~~~~~~~*/

/* section divider red */
.title-slide-section-red {
  background-color: #d90502;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider red H1 fonts */
.title-slide-section-red h1, .title-slide-section-red h2, .title-slide-section-red h3, .title-slide-section-red p {
  color: #fff;
}

/* section divider grey */
.title-slide-section-grey {
  background-color: #515151;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider grey H1 fonts */
.title-slide-section-grey h1, .title-slide-section-grey h2, .title-slide-section-grey h3 {
  color: #fff;
}

.title-slide-section-grey p {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~*/
/* FINAL SLIDE      */
/*~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #fff;
  padding-left: 100px;
  text-shadow: 0 0 20px #333;
  text-align: center;
}


.title-slide-final h1 {
  color: #d90502;
}


/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* Color adjustments for text */

/* Make bold syntax compile to ScPo-red */
strong {
  color: #d90502;
}

.ScPored {
  color: #d90502;
}

/* Add blue tag */
.blue {
  color: #0000CC;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #515151;
}

.lightgrey {
  color: #818181;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

/* Color adjustments to headers */
h1 {
  color: #d90502;
}

h3 {
  color: #515151;
}

/* Font size tags */
.big {
  font-size: 1.5em;
}

/* ru blockquote */
ru-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #d90502;
  background-color: #818181;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.large { font-size: 120% }
.small { font-size: 90% }